@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Yu Gothic", serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 10px;
  padding-top: var(--header-height);
}

h1,h2,h3,h4,p,ul,a {
  margin: 0;
  padding: 0;
}

 ul,ol {
  list-style: none;
 }

#container {
  font-size: 18px;
}
h2 {
  font-size: 60px;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}
h2::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 2px;
  border-bottom: 2px solid;
}
.summary {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -5px;
  line-height: 33px;
  font-size: 25px;
  font-family: cursive;
}
.bg-gray {
  background-color: #f1eac3;
}
:root {
  --header-height: 115px;
}
#about,
#service,
#works,
#contact {
  scroll-margin-top: var(--header-height);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 35px;
  z-index: 999;
  height: var(--header-height);
  background-color: rgba(0, 0, 0, 0.5);
}
.header__bg {
  /* padding: 30px 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0 0 60px;
}
.header a {
  font-family: cursive;
  transition: all .4s ease-in-out;
}
.header a:hover {
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
}
.header li {
  list-style-type: none;
}
.header li span {
  position: relative;
}
.header li span:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height:1px;
  background: #fff;
  opacity: 0;
  transition: all .4s cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header li:hover span:after {
  left: 0;
  width: 100%;
  opacity: 1;
}
.header a {
  color: #fff;
}
.title {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.nav_contact {
  display: block;
}
.navi__list {
  margin: 6px 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navi__list li:not(:first-of-type) {
  margin-left: 30px;
}

/* topセクション全体のスタイルを設定する */
#main {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}
#main::after {
  content: '';
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#main img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}


@keyframes slide-flow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

/* 画像の中央に表示する文字のスタイルを設定する */
#main h1 {
  font-size: 100px;
  white-space: nowrap;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 99;
  font-family: fantasy;
  font-size: 3rem;
  font-weight: bold;
}
/* Aboutセクションのスタイルを設定する */
#about {
  padding: 70px 70px;
}
#about h2 {
  margin-bottom: 70px;
  font-family: fantasy;
  position: relative;
  font-weight: bold;
  text-align: center;
}
#about h2::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 2px;
  border-bottom: 2px solid;
  /* transition: all .4s cubic-bezier(.19,1,.22,1); */
}
/* テキストと画像を囲むdiv要素をフレックスボックスとして扱い、テキストを左側、画像を右に配置する */
.about__flex {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}
/* テキストと画像の幅や余白の設定、テキストと画像のdivそれぞれにwidth50%を指定して左にテキスト、右に画像を表示 */
.about__textarea {
  display: inline-block;
  width: 50%;
  margin-right: 24px;
  max-width: 400px;
}
.about__textarea p {
  font-family: cursive;
  font-size: 22px;
  line-height: 2.0;
}
.about__img {
  width: 50%;
  max-width: 400px;
}
.about__img img {
  width: 100%;
}
/* Serviceセクション aboutセクションより左右のマージンを広めに */
#service {
  padding: 70px 70px;
}
.service__list {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.service__content {
  width: 100%;
  font-family: cursive;
}
.service__content:not(:last-of-type) {
  margin-right: 80px;
}
.service__content img {
  width: 100px;
  min-width: 150px;
  margin-bottom: 22px;
}
.service__content img:hover {
  opacity: 0.7;
}
.service__content p {
  line-height: 25px;
  margin: -10px 10px 0;
}

#works {
  padding: 70px 70px;
}
.work__list {
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.work__content {
  width: 100%;
}
.work__content:not(:last-of-type) {
  margin-right: 40px;
}
.work__content img {
  width: 100%;
  margin-bottom: 20px;
}
.work__content p {
  line-height: 25px;
  margin: -6px 10px 0;
  font-family: cursive;
  font-size: 20px;
}

#contact {
  /* padding: 30px 300px 50px; */
  /* padding: 70px 300px 70px; */
  padding: 70px 200px 70px;
}
#contact .summary {
  margin-bottom: 42px;
}
.contact__form table {
  width: 100%;
  margin-bottom: 40px;
  font-family: cursive;
}
.contact__form tr td:first-of-type {
  width: 22%;
  vertical-align: top;
  font-size: 20px;
}
.contact__form tr td input,
.contact__form tr td textarea {
  width: 100%;
  border: 1px solid #707070;
  background: rgba(255, 255, 255, .5);
}
.btn__submit {
  text-align: center;
}

.contact__form input[type="text"],
.contact__form input[type="email"] {
  height: 36px;
  margin-bottom: 45px;
  font-size: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: cursive;
  /* font-family: "Josefin Sans", "NotoSans JP",sans-serif; */
}
.contact__form textarea {
  height: 294px;
  resize: none;
  font-size: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: cursive;
  /* font-family: "Josefin Sans", "NotoSans JP",sans-serif; */
}
/* 送信ボタンのスタイル */
.contact__form input[type="submit"] {
  width: 200px;
  background-color: #a98c5f;
  color: #fff;
  border: none;
  font-size: 25px;
  cursor: pointer;
  transition: all .8s ease-in-out;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 6px 10px;
  font-family: cursive;
  height: 60px;
  line-height: 60px;
  padding: 0;
  /* font-family: "Josefin Sans", "NotoSans JP",sans-serif; */
}
.contact__form input[type="submit"]:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

/* フッター */
.footer__box {
  background: #000;
  /* padding: 24px 60px 60px; */
  padding: 70px 70px;
  position: relative;
  text-align: center;
}
.footer__box li {
  list-style-type: none;
}
.footer__box a,
.footer__box p {
  color: #fff;
}
.footer__box a {
  font-size: 35px;
}
.footer__box p {
  font-size: 30px;
  font-family: cursive;
}
.footer__nav {
  display: inline-block;
  border-bottom: 1.5px solid #fff;
  margin-bottom: 18px;
  font-family: cursive;
}
.footer__nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
  margin-bottom: 20px;
  list-style: none;
}
.footer__nav li:not(:last-of-type) {
  margin-right: 30px;
}
.copyright {
  margin-bottom: 20px;
}

.sns__area {
  margin-top: 40px;
  display: flex;
  font-family: fantasy;
  justify-content: center;
  gap: 6px;
  align-items: center;
}
.sns__area img{
  width: 32px;
  height: 32px;
  object-fit: contain;
  vertical-align: middle;
}
.sns__area a:not(:last-of-type) {
  margin-right: 6px;
}
/* レスポンシブ表示 */
@media screen and (min-width:768px) {
  .pc_none{
    display: none!important;
  }
}
@media screen and (max-width:768px) {
  .sp_none{
    display: none!important;
  }
  html {
    font-size: 16px;
  }
  #container {
    font-size: 16px;
  }
  h2{
    font-size: 50px;
  }
  .title {
    margin: 8px 20px;
    font-size: 30px;
    left: 0;
    top: 0;
  }
  /* ハンバーガーメニューここから */
  span.hamburger__icon {
    display: inline-block;
    width: 35px;
    height: 25px;
  }
  span.hamburger__icon i {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: all .3s ease-in-out;
  }
  .header__cat input:checked + label span.hamburger__icon i:nth-child(1) {
    margin: auto;
    transform: rotate(45deg);
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }
  .header__cat input:checked + label span.hamburger__icon i:nth-child(2) {
    transform: rotate(90deg);
    top: 0;
    bottom: 0;
  }
  .header__cat input:checked + label span.hamburger__icon i:nth-child(3) {
    margin: auto;
    transform: rotate(-45deg);
    top: 0;
    right: 0;
    bottom: 0;
  }
  .header__navi {
    position: fixed;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50px;
    right: 0;
    transform: translateX(100%);
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 1s ease-out;
  }



  #navi__content {
    display: none;
  }
  #main {
    height: 600px;
  }
  #main img {
    height: 600px;
  }
  #main h1 {
    font-size: 80px;
    white-space: normal;
    text-align: center;
  }

  #about {
    padding: 30px 20px 40px;
  }
  #about h2 {
    margin-bottom: 8px;
  }
  .about-flex {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  .about__textarea {
    width: 100%;
    margin: 0 auto;
  }
  .about__textarea ul {
    margin-top: 34px;
    padding-left: 14px;
  }
  .about__imgarea {
    width: 100%;
    margin: 0 auto;
  }

  #service {
    padding: 26px 20px 40px;
  }
  #service h2 {
    margin-bottom: 8px;
  }
  .service__list {
    display: block;
  }
  .service__content:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 44px;
  }

  #works {
    padding: 30px 20px 40px;
  }
  #works h2 {
    margin-bottom: 8px;
  }
  .work__list {
    display: block;
  }
  .work__content:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 36px;
  }

  #contact {
    padding: 30px 20px 40px;
  }
  #contact h2 {
    margin-bottom: 6px;
  }
  #contact .summary {
    margin-bottom: 14px;
  }
  .contact__form table {
    margin-bottom: 22px;
  }
  .contact__form table td {
    width: 100%!important;
    display: block;
  }
  .contact__form input[type="text"],
  .contact__form input[type="email"] {
    margin-bottom: 18px;
    height: 46px;
  }
  .contact__form input[type="submit"] {
    width: 150px;
    font-size: 20px;
  }
  .footer__nav {
    padding: 0 60px;
    margin-bottom: 10px;
  }
  .footer__nav ul {
    flex-wrap: wrap;
    padding: 0;
  }
  .footer__nav li:not(:last-of-type) {
    margin-right: 0;
    width: 50%;
  }
  .footer__nav li:last-of-type {
    width: 50%;
  }
  .footer__box {
    padding: 16px 20px 60px;
  }

  .footer__box a {
    font-size: 20px;
  }
  .footer__box p {
    font-size: 18px;
  }
  .sns__area {
    float: unset;
    margin-top: 30px;
  }

}
/* レスポンシブル表示 */
@media screen and (min-width:768px)
and
(max-width:1024px)
{
    /* .sp_none{
      display: none!important;
    } */
  #nav-content {
    display: none;
  }

  .about__textarea p {
    width: 100%;
    margin: 0 30px;
  }

  .about__img img {
    width: 100%;
    /* ↑ここが90%になっていた */
    height: 100%;
  }
  .about {
    display: flex;
  }

  .service__list {
    justify-content: center;
    align-items: center;
  }
  #contact {
    padding: 70px 100px 70px;
  }
  .contact__form table td {
    width: 100%!important;
    display: block;
  }

}